@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 300;
   font-style: normal;
 }

 *{ font-family: "Gotham", sans-serif; 
 }

div {
  padding-left: 80px;
  padding-bottom: 80px;
 
}

.header {
  font-weight: 300;
  font-size: 75px;
  color: #454141;
  margin-left: 80px;
  padding-top: 50px;
}

.type_container {
  display: inline-block;
  margin: 20px;
}




.sectionHead {
  border-bottom: 4px solid #e2e2e2;
  font-size: 32px;
  margin-left: 80px;
  padding-bottom: 20px;
  font-weight: 400;
  color: #454141;
}
#pageTopic {
  text-align: left;
  margin-left: 80px;
  font-size: 48px;
  font-weight: 700;
  color: #454141;
}

.section {
  padding-bottom: 180px;
}

.responsive {
  width: 100%;
  max-width: 1440px;
  height: auto;
}